.flex{
  display: flex;
}
.flex-column{
  flex-direction: column;
}
.flex-center{
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}
.flex-v-center{
  align-items: center;
}
.flex-v-end{
  align-items: flex-end;
}
.flex-column-between{
  justify-content: space-between;
}
.flex-h-between{
  justify-content: space-between;
}
.m-10{
  margin: 1rem;
}

:root{
  --primary-color:#41ACEF;
  --primary-light-color:#5fb8f0;
  --third-color: #FF694E;
  --third-light-color:#FF9A88;
  --second-color: #1fbb65;
  --second-light-color: #54e796;
  --fourth-color: #35caa9;
  --fourth-light-color: #5ad6bb;

  --normal-black: #3e3e3e;

  --toastify-color-progress-dark: #41ACEF;

  --warning:#F95B46;
  --in-progress:#3EA8E0;
  --success:#3EE0AE;
  --success-light:#72e6c1;
}