.flex{
  display: flex;
}
.flex-1 {
  flex: 1;
}
.flex-column{
  flex-direction: column;
}
.wrap {
  flex-wrap: wrap;
}
.flex-justify-content{
  justify-content: center;
}
.flex-center{
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}
.flex-v-center{
  align-items: center;
}
.flex-v-end{
  align-items: flex-end;
}
.flex-j-end {
  justify-content: flex-end;
}
.flex-j-start {
  justify-content: flex-start;
}
.flex-column-between{
  justify-content: space-between;
}
.flex-h-between{
  justify-content: space-between;
}
.flex-around{
  justify-content: space-around;
}
.m-10{
  margin: 1rem;
}

:root{
  --primary-color:#41ACEF;
  --primary-light-color:#5fb8f0;
  --third-color: #FF694E;
  --third-light-color:#FF9A88;
  --second-color: #1fbb65;
  --second-light-color: #39d37e;
  --fourth-color: #35caa9;
  --fourth-light-color: #5ad6bb;

  --normal-black: #3e3e3e;

  --toastify-color-progress-dark: #41ACEF;

  --warning:#F95B46;
  --in-progress:#3EA8E0;
  --success:#3EE0AE;
  --success-light:#72e6c1;
}
.blue{ 
  color: #41ACEF;
}
.bigSize{
  font-weight: bold;
}
.cursor {
  cursor: pointer;
}
.not-allowed {
  cursor: not-allowed;
}
.text-center {
  text-align: center;
}
.translucent {
  opacity: 0.4;
}
.Abbreviation {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.line-clamp {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.mantine-1qycoz3 {
  border-radius: 20px;
  border: 1px solid #707070;
}
#rte {
  border-radius: 20px 20px 0 0;
  border-bottom: 1px solid #707070;
}
.quill img {
  width: 500px;
  height: 500px;
}
.filling {
  width: 100%;
  height: 48px;
}
.Chinese-Bold {
  font-family: Noto Sans S Chinese-Bold, Noto Sans S Chinese;
}
.Chinese-Regular {
  font-family: Noto Sans S Chinese-Regular, Noto Sans S Chinese;
}
.none {
  opacity: 0;
}