.HeaderBox {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  background: #fff;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid var(--primary-color);
  padding: 0 60px;
  z-index: 99;
}
.checked {
  position: relative;
  border-radius: 12px;
  font-weight: bold;
  border-radius: 0;
  color: white;
  background: linear-gradient(180deg, var(--fourth-color) 0%, var(--primary-color) 70%);
}
.checked :before {
  content: '';
  width: 17px;
  height: 105px;
  position: absolute;
  left: -10px;
  transform: rotate(8deg);
  background: linear-gradient(180deg, var(--fourth-color) 0%, var(--primary-color) 70%);
}
.checked :after {
  content: '';
  width: 17px;
  height: 105px;
  position: absolute;
  right: -10px;
  top: -2px;
  transform: rotate(8deg);
  background: linear-gradient(180deg, var(--fourth-color) 0%, var(--primary-color) 70%);
}
.HeaderBox .linkItem {
  cursor: pointer;
  text-decoration: none;
  font-size: 1rem;
  line-height: 100px;
  height: 100px;
  margin: 0 1rem;
  padding: 0 1rem;
}
.linkItem :hover,:focus {
  color: var(--primary-color);
}
.HeaderBox .logo {
  max-width: 15rem;
}
